.skillsHolder {
  padding-left: 10%;
}

.feBeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 0.8rem;
}

.skillImage {
  height: 100px;
  width: 100px;
}

.singleSkill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
